body {
	background-color: #efeef8;
	margin: 0;
}
.app {
	display: flex;
}
.app_container {
	display: flex;
	padding: 48px 76px 50px; width: 100%;
}	
.app__form_container {
	background-color: #fff;width: 50%;
	margin-right: 27px;
}
.app__menu_container {
	display: flex;
	flex-direction: column;
	background-color: #fff;
}
