.form_container__header {
	padding: 19px 0px 23px 34px;
	color: white;
	font-family: "Tahoma";
	font-size: 24px;
	-webkit-font-smoothing: antialiased;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.form_container__header__green {
	background-color: #7ad18a;
	padding-right: 138px;
}
.form_container__header__violet {
	background-color: #8379d1;
	padding-right: 276px;
}
.app__form {
	display: flex; flex-direction: column;
	padding: 94px 32px 0px;
}
.app__form_container__add_member {
	margin-right: 41px;
}
.form__label {
	font-size: 21px;
	color: rgb(119,145,129);
	font-family: "Tahoma";
	-webkit-font-smoothing: antialiased;
	margin-bottom: 18px;
}

.form__input {
	border-radius: 3px;
	border: 2px solid #efedf7;
	font-size: 21px; 
	padding: 16px 21px;
	color: rgb(119,125,145);
	outline: none;
	font-weight: 300;
	margin-bottom: 57px;
}	
.form__button {
	align-self: flex-end;
	display: flex; background-color: #fff;
	border: none;
	font-size: 21px;
	color: rgb(122,209,138);
	font-family: "Tahoma";
	-webkit-font-smoothing: antialiased; outline: none; cursor: pointer;
	padding: 7px 0px;
	cursor: pointer;
}	
.form__button__arrow {
	width: 18px;
	height: 18px;
	background-image: url(../img/arrow.png);
	background-color: #7ad18a;
	border-radius: 50%;
	background-position: 2px 8px;
	background-size: 100%;
	padding: 3px;
	align-self: center;
}
.form__button > span {
	margin-right: 18px;
}